*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f4f8ff;
    color:#0f172a;
}

.layout{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:290px;
    background:white;
    border-right:1px solid #dbeafe;
    padding:32px 22px;
}

.sidebar-header{
    text-align:center;
    margin-bottom:45px;
}

.sidebar-header img{
    width:100px;
    height:100px;
    object-fit:contain;
    margin-bottom:18px;
}

.sidebar-header h1{
    color:#18489c;
    font-size:30px;
    margin-bottom:8px;
}

.sidebar-header p{
    color:#64748b;
}

.sidebar-nav{
    display:flex;
    flex-direction:column;
    gap:16px;
}

.sidebar-nav button{
    border:none;
    background:#eff6ff;
    color:#18489c;
    padding:18px;
    border-radius:18px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.25s;
}

.sidebar-nav button:hover{
    background:#2563eb;
    color:white;
}

.sidebar-nav button.active{
    background:#18489c;
    color:white;
}

.main-content{
    flex:1;
    padding:40px;
    overflow-y:auto;
}